html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.fa-clock {
  font-size: 24px;
}

.wrapper {
  height: calc(100% - 56px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.fa-calendar-alt {
  font-size: 22px;
}

.clock-wrapper {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #343a40;
  color: #fff;
  border: 14px solid #454b51;
}

.clock-time {
  font-family: inherit;
  font-size: 28px;
}

.clock-date {
  font-family: inherit;
  font-size: 14px;
}